{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ block.super }}Admin Stuff{% endblock %}
{% block content %}
{{fuser}}
<form method="POST" action="">
  {% csrf_token %}
  Emailid:<input type="text" name="emailid">
  <input type="submit" value="Query">
</form>
{% for friend in friends %}
<a href="{% url 'viewprofile' fuser_id=friend.id %}">{{friend}}</a>
<br/>
{% endfor %}
{% endblock %}
