{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ block.super }}Search user{% endblock %}
{% block header_javascript %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script>
data=[];
{% for user in lusers %}
  data.push("{{user}}")
  {% endfor %}
$(function() {
  $("#tags").autocomplete({
    source: data
  });
});
</script>

{% endblock %}
{% block content %}
<form method="POST" action="">
  {% csrf_token %}
  <label for="tags">Search:</label>
  <input type="text" name="searchsomefuser" id="tags">
  <input type="submit" value="Query">
</form>
{% for user in users %}
<a href="{% url 'viewprofile' fuser_id=user.0.id %}">{{user.0}}</a>
{% ifequal user.1 3 %}
<a href="{% url 'makefriend' %}" class="btn btn-primary friend-link make-friend" id="{{user.0.id}}">Friend</a>
{% endifequal %}
{% ifequal user.1 2 %}
<a href="{% url 'makefriend' %}" class="btn btn-primary friend-link unfriend" id="{{user.0.id}}">Unfriend</a>
{% endifequal %}
<br/>
{% endfor %}
{% endblock %}
{% block footer_javascript %}
<script>
var url="{% url 'makefriend' %}";
</script>
<script src="{% static 'viewprofile.js' %}"></script>
{% endblock %}
