{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{fuser.user.name}}{% endblock %}
{% block css %}
<style>
.container
{
  margin-top : 5%;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{fuser.user.username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name:</td>
                        <td>{{fuser.user.first_name}}</td>
                      </tr>
                      <tr>
                        <td>Last Name</td>
                        <td>{{fuser.user.last_name}}</td>
                      </tr>
                      <tr>
                        <td>Member since</td>
                        <td>{{fuser.member_since}}</td>
                      </tr>
                      <tr>
                        <td>Country</td>
                        <td>{{fuser.country}}</td>
                      </tr>

                      </tr>

                    </tbody>
                  </table>
                  {% ifequal own_id 2 %}
                  <a href="{% url 'makefriend' %}" class="btn btn-primary friend-link unfriend" id="{{fuser.id}}">Unfriend</a>
                  {% endifequal %}
                  {% ifequal own_id 3 %}
                  <a href="{% url 'makefriend' %}" class="btn btn-primary friend-link make-friend" id="{{fuser.id}}">Friend</a>
                  {% endifequal %}
                  {% ifequal own_id 4 %}
                  <a href="{% url 'deletefuser' id=fuser.id %}" class="btn btn-primary">Delete</a>
                  {% endifequal %}
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <p>fusers description will go here</p>
                    </div>

          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block footer_javascript %}
    <script>
    var url="{% url 'makefriend' %}";
    </script>
    <script src="{% static 'viewprofile.js' %}"></script>
    {% endblock %}
