<!doctype html>
<html>
<header>
  <title>{% block title %}{% endblock %}</title>
  {% include 'jslibraries.html' %}
  {% include 'csslibraires.html' %}
  {% block css %}{% endblock %}
  {% block header_javascript %}{% endblock %}
</header>
<body>
  {% block content %}{% endblock %}
</body>
{% block footer_javascript %}{% endblock %}
</html>
